<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427798358799-li2gcv6hmet7f13t8t1ihicjg10fta14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427798358799-li2gcv6hmet7f13t8t1ihicjg10fta14</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>427798358799-8dv4gjqs99ehhe6o354jf6mgq17a40nq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD03g7diBr_OIyYICnyqoljZEPxseyE12g</string>
	<key>GCM_SENDER_ID</key>
	<string>427798358799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moodie.journal</string>
	<key>PROJECT_ID</key>
	<string>mood-journal-435b7</string>
	<key>STORAGE_BUCKET</key>
	<string>mood-journal-435b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427798358799:ios:af81c591318d135ca2ec7a</string>
</dict>
</plist>